.header {
	width: 100%;
	min-height: 4.5rem;

	padding: 1.25rem;
	border-radius: 0.25rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.header__tag-list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.button {
	color: var(--color-neutral-400);
	background-color: transparent;

	transition: color 100ms ease-in;
}

.button::before {
	content: "";
	position: absolute;
	left: 50%;
	right: 50%;
	bottom: 0.25rem;

	border-bottom: 1px solid var(--color-primary-400);

	transition: 100ms linear;
}

.button:hover,
.button:focus {
	color: var(--color-primary-400);
}

.button:focus::before,
.button:hover::before {
	left: 0;
	right: 0;
}
