.header {
	width: 100%;
	min-height: 4.5rem;
	isolation: isolate;

	padding: 1.25rem;
	border-radius: 0.25rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	background-color: white;
	box-shadow: 0 0.5rem 2rem 0 hsl(180 8% 52% / 0.5);
}

.header__tag-list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.header__button {
	color: var(--color-neutral-400);
	background-color: transparent;

	font-size: var(--font-size-400);

	transition: color 100ms ease-in;
}

.header__button::before {
	content: "";
	position: absolute;
	left: 50%;
	right: 50%;
	bottom: 0.25rem;

	border-bottom: 1px solid var(--color-primary-400);

	transition: 100ms linear;
}

.header__button:hover,
.header__button:focus {
	color: var(--color-primary-400);
}

.header__button:focus::before,
.header__button:hover::before {
	left: 0;
	right: 0;
}

@media screen and (min-width: 50rem) {
	.header {
		width: max(47rem, 77%);
	}
}
