.header-tag {
	height: 2rem;
	border-radius: 0.25rem;
	display: flex;
	align-items: center;

	background-color: var(--color-neutral-200);
}

.header-tag__name {
	padding-inline: 0.5rem;

	color: var(--color-primary-400);

	font-size: var(--font-size-400);
	font-weight: var(--font-weight-bold);
}

.header-tag__button {
	height: 2rem;
	width: 2rem;

	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;

	background-color: var(--color-primary-400);

	transition: background-color 100ms ease-in;
}

.header-tag__button:hover,
.header-tag__button:focus {
	background-color: var(--color-neutral-900);
}
