.app {
	position: relative;

	padding-block-start: 7.5rem;
	padding-inline: 1.5rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.5rem;

	background-color: var(--color-neutral-100);
}

.app::before {
	content: "";
	position: absolute;
	inset-inline: 0;
	top: 0;
	height: 9.75rem;

	background-color: var(--color-primary-400);
	background-image: url(./assets/images/bg-header-mobile.svg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.main {
	width: 100%;
}

.jobs-list {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

@media screen and (min-width: 40rem) {
	.app::before {
		background-image: url(./assets/images/bg-header-desktop.svg);
	}
}
