@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

/* Box sizing rules, remove default paddings and margins */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* An utility for an invisible element */

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* General styling */

:root {
	--color-primary-400: hsl(180, 29%, 50%);

	--color-neutral-100: hsl(180, 52%, 96%);
	--color-neutral-200: hsl(180, 31%, 95%);
	--color-neutral-400: hsl(180, 8%, 52%);
	--color-neutral-900: hsl(180, 14%, 20%);

	--font-size-normal: 500;
	--font-size-bold: 700;

	--font-size-100: 0.81rem;
	--font-size-200: 0.875rem;
	--font-size-400: 0.94rem;
	--font-size-600: 1.19rem;
}

body {
	font-family: "League Spartan", sans-serif;
}

/* Utilities */

.button {
	position: relative;

	min-width: fit-content;
	padding-inline: 0.75rem;
	height: 2rem;
	border-radius: 0.25rem;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	border: none;

	font-size: var(--font-size-400);
	font-weight: var(--font-weight-bold);
}
